

h1 {
    text-align: center;
    color: #030303;
    margin-bottom: 20px;
}

table {
    width: 80%;
    max-width: 900px;
    border-collapse: collapse;
    background-color: #eeebeb;
    box-shadow: 0 4px 8px rgb(231, 229, 229);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: rgb(28, 28, 28);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #d1cdcd;
}

.actions a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 5px;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
}

.actions .edit {
    background-color: #ffc107;
}

.actions .delete {
    background-color: #dc3545;
}

.actions a:hover {
    opacity: 0.8;
}

.actions a i {
    margin-right: 5px;
}

.add-product {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: rgb(8, 8, 8);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.add-product:hover {
    background-color: #218838;
}

/* Centrado del contenedor del botón agregar producto */
.container {
    text-align: center;
    margin-bottom: 20px;
}

/* Centrar tabla y su contenido */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Íconos para las columnas */
th i {
    margin-right: 8px;
}
